DATABASE_URL='postgres://dburl'

JWT_SECRET='jwtsecret'

// To send emails 
EMAIL_USER='server@gmail.com' 
EMAIL_PASSWORD='app_password'

// Google Oauth
CLIENT_URL="http://localhost:5173"
CLIENT_ID="google Oauth client ID"
CLIENT_SECRET="google Oauth client secret"